[Unit]
Description=HA Bridge Service
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
User=habridgeadmin

WorkingDirectory=/etc/habridge
ExecStart=/usr/bin/java -jar -Dconfig.file=/etc/habridge/data/habridge.config /etc/habridge/ha-bridge.jar

Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
